export(CoRe.ADaM)
export(CoRe.AssembleFPs)
export(CoRe.CF_Benchmark)
export(CoRe.CS_ADaM)
export(CoRe.PanCancer_ADaM)
export(CoRe.FiPer)
export(CoRe.coreFitnessGenes)
export(CoRe.download_AnnotationModel)
export(CoRe.download_BinaryDepMatrix)
export(CoRe.download_DepMatrix)
export(CoRe.empiricalOdds)
export(CoRe.extract_tissueType_SubMatrix)
export(CoRe.generateNullModel)
export(CoRe.panessprofile)
export(CoRe.randomisedepMat)
export(CoRe.tradeoffEO_TPR)
export(CoRe.truePositiveRate)
export(CoRe.VisCFness)


import(mixtools)
import(magrittr)
import(pheatmap)
importFrom("RCurl", "url.exists")
importFrom("stringr","str_replace_all","str_replace","str_sub")
importFrom("readr","read_csv")
importFrom("grDevices", "dev.off", "jpeg")
importFrom("graphics", "abline", "axis", "barplot", "boxplot", "hist", "legend", "par", "points")
importFrom("stats", "coef", "density", "dnorm", "lm", "median", "phyper")
importFrom("utils", "download.file", "read.csv", "read.table", "setTxtProgressBar", "tail", "txtProgressBar", "unzip")
